[Unit]
Description=Pyrobud Telegram selfbot
After=multi-user.target

[Service]
# Base settings
Type=simple
Restart=always
RestartSec=10

# Execution parameters
User=test
Group=test
WorkingDirectory=/home/test/pyrobud
ExecStart=poetry run pyrobud

# Limit damage in case something goes awry
MemoryLimit=512M
CPUQuota=200%

# Logging
StandardOutput=append:/home/test/logs/pyrobud/out.log
StandardError=append:/home/test/logs/pyrobud/err.log

# Security
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
PrivateDevices=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
